.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    font-size: $font-size-default;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 4px;
    transition: all 200ms;
  }

  &:hover {
    background-color: $color-tertiary;
    color: $color-white;
    border-bottom: 1px solid $color-tertiary;
    box-shadow: 0rem 0.5rem 1.5rem rgba($color-black, 0.3);
    transform: translate(0rem, -0.4rem);
  }

  &:active {
    box-shadow: 0rem 0.4rem 1.1rem rgba($color-black, 0.3);
    transform: translate(0rem, -0.1rem);
  }
}
