$color-primary: #40b3ff;
$color-secondary: #5dbeff;
$color-dark-grey: #464646;
$color-white: #fff;

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-dark-grey;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary, 0.7),
      rgba($color-primary, 0.7)
    ),
    url("../files/images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;

  &__text-box {
    min-width: 69.1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  backface-visibility: hidden;

  &--main {
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    display: block;
    animation: moveInLeft 1100ms ease;
  }
  &--sub {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2rem;
    display: block;
    animation: moveInBottom 1000ms ease;
    margin-bottom: 10rem;
  }
}

.btn--animated {
  animation: moveInBottomButton 600ms linear 0.55s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  40% {
    transform: translateX(1rem);
  }
  60% {
    transform: translateX(-0.5rem);
  }
  70% {
    transform: translateX(0.2rem);
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translatey(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes moveInBottomButton {
  0% {
    transform: translatey(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.btn {
  &--white {
    background-color: $color-white;
    color: $color-dark-grey;
  }

  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    display: inline-block;
    box-shadow: 0.2rem 0.5rem 1.6rem rgba(0, 0, 0, 0.425);
    transition: all 150ms;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0.3rem 0.7rem 2.1rem rgba(0, 0, 0, 0.432);

    &::after {
      transform: scale(1.7);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.2rem 0.5rem 1.6rem rgba(0, 0, 0, 0.445);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $color-white;
    position: absolute;
    display: inline-block;
    top: 0rem;
    left: 0rem;
    border-radius: 0.5rem;
    z-index: -1;
    opacity: 0.5;
    transition: all 0.4s;
  }
}
