/*********** LEFT AREA ***************
*************************************/





/************* left nav-bar *********/



.nav-buttons a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin: 12px;
    display: inline-block;
}

.nav-buttons{
    background: rgb(95, 22, 214);
    display: flex;
    flex-direction: column;
}





/***** left nav-bar "files-manage" *****/


#left-nav-bar {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


.files-manage ul{
    border-radius: 15px;
    padding: 13px;
    font-size: 12px;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.418);
}

.files-manage a{
    text-decoration: none;
    color: white;
}

.files-manage span{
    vertical-align: middle;
}

.files-manage {
    background: rgb(95, 22, 214);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    ///////height: 400px;
}

/********** "create-new" button ************/



.button {
    background: rgb(95, 22, 214);
}

.create-new-button {
    background-color: #dba239; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  
  .create-new-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }



/******* Search button ***********/

  

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 10px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    box-shadow:10px 10px 20px rgb(187, 47, 47); 
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  

  /*********** MIDDLE AREA ****************
  ********************************************/


  
  .middle-menu a{
      text-decoration: none;
      color: black;
  }

  /********* Recently used *******************/

  .middle-menu {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
  }



/********* First, Second, Third windows *******/


.first-window {
  background: white;
  height: 120px;
  width: 150px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
}

.text {
  grid-area: 2 / 1 / span 1 / span 3;
}

.more-vert {
  grid-area: 1 / 3 / span 1 / span 1;
  place-self: start end;
  padding: 7px 7px 0px 0px;
}

.file-copy {
  grid-area: 1 / 1 / span 1 / span 1;
  place-self: end start;
  padding-left: 7px;
}

.group {
  grid-area: 1 / 2 / span 1 / span 1;
  place-self: end start;
}

.first-window h2 {
  font-size: 15px;
  padding-left: 7px;

}

.first-window h3 {
  font-size: 10px;
  padding-left: 7px;
  color: rgb(143, 143, 143);
}

.second-window {
  background: white;
  height: 120px;
  width: 150px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
}

.second-window h2 {
  font-size: 15px;
  padding-left: 7px;

}

.second-window h3 {
  font-size: 10px;
  padding-left: 7px;
  color: rgb(143, 143, 143);
}

.third-window {
  background: white;
  height: 120px;
  width: 150px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
}

.third-window h2 {
  font-size: 15px;
  padding-left: 7px;

}

.third-window h3 {
  font-size: 10px;
  padding-left: 7px;
  color: rgb(143, 143, 143);
}

#top-windows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center center;
}


/********* middle-menu2 **************/


.middle-menu2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}


/******** middle small menu *********/


.middle-small-menu {
  display: flex;
  justify-content: space-between;
}

.middle-small-menu h4 {
  display:inline-block;
}


/********* middle-color-menu **********/


div.middle-color-menu > div:nth-child(n+1) {
  display: grid;
  grid-template: 1fr / 3fr repeat(2, 2fr) 1fr;
}

div.mcm > div:nth-child(4){
  place-self: start end;
}

.mcm {
  background: white;
  border-radius: 15px;
}

.mcm p {
  display: inline-block;
  padding-left: 20px;
}

.mcm span {
  vertical-align: middle;
}

div.mcm > div > p > .material-icons {
  color: orange;
}



/************* bottom header *************/


.bottom-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}



/*********** first second third window 1 *********/


#bottom-windows {
  display: grid;
  grid-template: 1fr / 3fr 3fr 3fr;
}

#bottom-windows > div {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.text1 {
  grid-area: 2 / 1 / 3 / 3;
}

.file-copy1 {
  grid-area: 1 / 1 / 2 / 2;
}

.group1 {
  grid-area: 1 / 2 / 2 / 3;
}


/************************************
*************************************
*************************************/

#all-stuff {
  display: grid;
  grid-template: repeat(8, auto) / 1fr 4fr 2fr;
}

.logo {
  grid-area: 1 / 1 / 3 / 2;
}

#left-nav-bar {
  grid-area: 3 / 1 / 9 / 2;
}

.search-button {
  grid-area: 1 / 2 / 2 / 3;
}

.middle-menu {
  grid-area: 2 / 2 / 3 / 3;
}

#top-windows {
  grid-area: 3 / 2 / 4 / 3;
}

.middle-menu2 {
  grid-area: 4 / 2 / 5 / 3;
}

.middle-small-menu {
  grid-area: 5 / 2 / 6 / 3;
}

.middle-color-menu {
  grid-area: 6 / 2 / 7 / 3;
}

.bottom-header {
  grid-area: 7 / 2 / 8 / 3;
}

#bottom-windows {
  grid-area: 8 / 2 / 9 / 3;
}

