/* TODO LIST */
html{
    height: 100%;
}

body{
    height: 100%;
    padding: 70px 0px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 17, 58);
    background-color: #657AA2;
    margin: 0 auto;
}

.formTodo{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* width: 70%;
    margin: auto; */
}

.formTodo div{
    flex: 1 1 auto;
}

.todoList{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    background-color: #9AAED9;
    box-shadow: 5px 5px 21px 3px rgba(0,0,0,0.6)
}

.todoList div {
    margin: 5px 0px;
    font-size: 1.5rem;
    padding: 5px;
}

.input {
    font-size: 1.5rem;
    display: inline-block;
    width: 95%;
}

.input:focus{
    outline: 
}


.add-button {
    color: white;
    border: 1px solid #ffffff;
    font-size: 1.5rem;
    margin: 5px;
    background-color: #D9A21B;
}

.add-button.add-new-item span{
    margin-top: 5px;
    font-size: 30px;
    padding: 0px 15px;
}

.add-button:hover {
    background-color: #A26A76;
    cursor: pointer;
}




/* .delete-information {
    text-align: center;
    color:rgb(172, 0, 0);
    height: auto;
    width: 150px;
    display: none;
}

.delete-information-position {
    display: block;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
    background-color:rgb(177, 189, 255);
}

.link{
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    width: 50px;
    background-color:rgb(2, 141, 184);
    display: inline-block;
    margin: 10px
}

.link a{
    line-height: 30px;
    text-decoration: none;
    color: white;
} */



/*////////////////////////////////////////////////////*/

.todo-container{
    position: relative;
    min-height: 30%;
    width: 50%;
    margin: auto;
    background-color:#9AAED9;
    border: 1px solid rgb(0, 130, 190);
    padding: 100px 0px 50px 0px;
    font-size: 20px; 
    box-shadow: 5px 5px 21px 3px rgba(0,0,0,0.6);
}

.todo-container h1{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 0px;
    text-align: center;
}

.todo-list-item{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
    padding: 0px 15px;
    border: 1px solid black;
    background-color: #E1F1FF;
    box-shadow: 5px 3px 10px 0px #000000c2;
}

/* #trash-animation{
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: trash 2s linear 0s;
    position: absolute;
}

@keyFrames trash{
    0%{display: flex; width: 600px; font-size: 20px;}
    70%{width: 0px; font-size: 0px;}
    70%{display: none;}
} */

.todo-list-item p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    min-width: 5px;
    margin: 0px;
    padding-left: 6px;
    line-height: 54px;
    transition: 300ms;
}

.todo-container p:hover{
    background-color: #D9A21B;
    color: white;
    cursor: pointer;
}

span.material-icons{
    line-height: 54px;
    font-size: 30px;
    min-width: 10px;
}

span.material-icons:hover{
    cursor: pointer;
    color: red;
}

.todo-list-input{
    max-width: 200px;
}


/******** BUTTONS in task container*************/
.search-button{
    background-color: #D9A21B;
    border: none;
    box-shadow: 3px 3px 10px 0px #000000c2;
    padding: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    transform: scale(0.5);
    transition: 120ms;
}
.search-button:hover{
    background-color: #ebb735;
    cursor: pointer;
    transform: scale(0.65);
}


.trash-button{
    background-color: #D9A21B;
    border: none;
    box-shadow: 3px 3px 10px 0px #000000c2;
    padding: 15px;
    position: absolute;
    top: 20px;
    left: 80px;
    transform: scale(0.5);
    transition: 120ms;
}
.trash-button:hover{
    background-color: #ebb735;
    cursor: pointer;
    transform: scale(0.65);
}
/**********************************************/


.search-img{
    height: 100px;
    width: 100px;
    background-color: #99AAED;
    text-decoration: none;
}

.search-container input{
    display: none;
    border: 0px solid black;
    color: rgb(0, 17, 58);
    font-size: 1.5rem;
    position: absolute;
    top: -20px;
    left: -20px;
    height: 50px;
    width: 30%;
    margin: auto;
    background-color: #E1F1FF;
    line-height: 70px;
    box-shadow: 2px 2px 13px 1px #000000c2;
    animation: search 100ms ease-in 1;
}

@keyFrames search{
    0%{ transform:scale(0) }
    100%{transform: scale(1)}
}

.search-container input:focus{
    outline: 3px solid #D9A21B;
}


::placeholder {
    color: rgba(98, 98, 98, 0.39);
    opacity: 1; /* Firefox */
}


  /*****      TRASH-AREA     ******/

  .trash-section{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);

    display: none;
    position: absolute;
    top: 0px;
    animation: trashArea 400ms linear;
}

@keyFrames trashArea {
    0% { opacity: 0}
    100% { opacity: 1}
}

.trash-area{
    width: 50%;
    min-height: 500px;
    border: 1px solid black;
    background-color: #D9A21B;
    padding: 70px 0px  50px 0px;

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -0%);
    animation: drop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyFrames drop {
    0% {top: -900px;}
    100% {top: 100px;}
}


.clean-button{
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: 2px solid #FF785E;
    background-color: #ff5715;

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 200ms;
}

.clean-button:hover{
    cursor: pointer;
    background-color: #fd6225;
    box-shadow: 0px 0px 10px 0px white;
}



/************** WEATHER APP **********************/

.whatCity{
    padding-bottom: 100px;
}

.weatherApp-container{
    color: white;
    width: 520px;
    height: 690px;
    border: 1px solid black;
    background: url('./img/timothee-duran-ilfsT5p_qvA-unsplash.jpg');
    background-size: cover;
}

.list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}

.list li{
    display: inline-block;

}

.city{
    font-size: 45px;
    padding-bottom: 100px;
}

.temperature{
    font-weight:200;
    letter-spacing: -10px;
    font-size: 100px;
    padding-bottom: 80px;
}



