body {
  position: relative;
  height: 800px;
  width: 100%;
}


.tank {
  height: 60px;
  width: 60px;
  background-color: rgb(66, 110, 66);
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-75%, -75%);
}

.platform {
  position: relative;
  background-color: rgb(1, 163, 1);
  border: 1px solid black;
  height: 20px;
  width: 20px;
  top: 30%;
  left: 30%;

  /* animation: round0 200ms linear forwards; */
}

.cannon {
  position: absolute;
  left: 10px;
  top: 10px;
  transform: translateY(-50%);
  width: 50px;
  height: 10px;
  background-color: brown;
}

.cont {
  position: absolute;
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  background-color: rgba(255, 0, 0, 0.527);
}

.bomb {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  animation: shoot 700ms linear forwards;
}

@keyframes shoot {
  90% {
    transform: translateX(495px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(500px) scale(3.5);
    opacity: 0.7;
  }
}

.cont-2 {
  position: absolute;
  width: 10px;
  height: 10px;
}

.launcher{
  position: absolute;
  top: 43px;
  left: 5px;
  height: 8px;
  width: 8px;
  background-color: black;
}

.granade {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(116, 47, 1);
  animation: granade 2000ms linear forwards;
}

@keyframes granade {
  10%{
    transform: translateX(10px) scale(2);
  }
  50%{
    transform: translateX(250px) scale(10);
  }
  90% {
    transform: translateX(495px) scale(1);
    opacity: 1;
    background-color: rgb(116, 47, 1);
  }
  97%{
    background-color: red;
  }

  100% {
    transform: translateX(500px) scale(15);
    opacity: 0.5;
    background-color: yellow;
  }
}


.rock {
  position: absolute;
  width: 50px;
  height: 65px;
  background-color: grey;
  animation: rock 4000ms linear forwards;
}

/* @keyframes rock {
  0%{
    transform: rotate3d(0deg, 0deg, 0deg)
  }
  30%{
    transform: rotate3d(360deg, 0deg, 360deg);
  }
  70% {
    transform: rotate3d(-180deg, 0deg, -190deg);
  }
  100%{
    transform: rotateX(360deg) rotateZ(360deg);
  }
} */