$color-primary: #23a4fa;
$color-secondary: #52c8ff;

$color-grey-light-1: #f7f7f7;

$color-black: #000000;
$color-dark-grey: #464646;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-verical: 8rem;
$gutter-horizontal: 6rem;
