$color-primary: #23a4fa;
$color-secondary: #52c8ff;
$color-tertiary: #f3ba1c;

$color-grey-light-1: #f7f7f7;

$color-black: #000000;
$color-dark-grey: #535353;
$color-white: #fff;

// FONT
$font-size-default: 1.6rem;
$font-size-medium: 1.2rem;

// GRID
$grid-width: 114rem;
$gutter-verical: 8rem;
$gutter-horizontal: 6rem;
