/**************************************
************ SECTION 1 ***************/

#nav-bar a {
    text-decoration: none;
}

.right {
    text-align: center;
}

#nav-bar {
    width: auto;
    height: 150px;
    margin: 0px 100px;d: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex-grow: 5;
    flex-shrink: 1;
}

.right {
    flex-grow: 1;
    flex-shrink: 6;
}

/**** text style section 1 ****/



.left a {
    color: white;
    font-size: 50px;
}

.right a {
    color: rgb(218, 218, 218);
    font-size: 20px;
}

.right a:hover {
    color: white;
}


/****  <hr> style   ****/

hr {
    color: black;
    height: 2px;
    background: black;
    margin: 0px;
}


/**************************************
************ SECTION 2 ***************/

#section2 {
    width: auto;
    margin: 0px 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0px;
}

.box {
    flex-grow: 1;
}

.img {
    border: 10px solid rgb(255, 243, 243);
    box-shadow: 5px 10px 18px #381f1f;
    width: 500x;
    height: 250px;
    margin-left: 30px;
    background-image: url(../objects/visit-almaty-wN4D-mVR7fE-unsplash.jpg);
    background-size: cover;

}

.button {
    text-decoration: none;
    color: rgb(216, 213, 213);
    font-size: 20px;
    letter-spacing: 2px;
    background: rgb(45, 88, 138);
    padding: 18px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 7px #4d4646;
    transition-duration: 0.4s;
}

.button:hover {
    background: rgb(62, 107, 158);
    color: white;
}

.div-button {
    margin-top: 80px;
}

/**** TEXT STYLE SECTION 2 ****/

#section2 .box {
    font-size: 30px;
    color:rgb(223, 223, 223)
}


/**************************************
************ SECTION 3 ***************/


#section3 {
    background: grey;
    margin: 0px 100px;
    width: auto;
    display: flex;
    flex-direction: row;;
    justify-content:space-between;
}

#section3 div {
    padding-top: 15px;
    width: 280px;
}

#section3 img {
    max-width: 100%;
}


@media screen and (max-width: 750px){

#nav-bar {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
}

.left {
    margin-bottom: 30px;
}

.left a {
    font-size: 30px;
}

.right {
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
}

.right:hover {
    background: rgba(255, 253, 253, 0.335);
}



}