/************** WEATHER APP **********************/
body {
  height: 100%;
  padding: 20px 0px 70px 0px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 17, 58);
  background-color: #657aa2;
  margin: 0 auto;
}

.whatCity {
  padding-bottom: 70px;
  padding-top: 20px;
}

.whatCity input {
  opacity: 0.5;
  height: 25px;
  width: 300px;
}

.container {
  width: 800px;
  background: url("./img/petar-jadek-UpFk7QQm33k-unsplash.jpg");
  background-size: cover;
  margin: auto;
  border-radius: 2%;
  padding: 150px 0px;
}

.weatherApp-container {
  background-color: #0000005b;
  top: 67px;
  color: white;
  width: 400px;
  height: 586px;
  border-radius: 20px;
  margin: auto;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
}

.whatCity input {
  height: 40px;
  font-size: 20px;
}

.list li {
  display: inline-block;
}

.city {
  font-weight: 200;
  font-size: 45px;
  padding-bottom: 50px;
}

.temperature {
  font-weight: 200;
  letter-spacing: -5px;
  font-size: 100px;
  padding-bottom: 35px;
}

.condition {
  padding-bottom: 20px;
  font-weight: 200px;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
