/*******  SECTION 1  *********
******************************/

body  {
    font-family: Arial, Helvetica, sans-serif;
}


#first-container {
    background: white;
    width: 0 auto;
    height: 60px;
    padding: 0px 20px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(221, 221, 221);
}

#first-container a {
    text-decoration: none;
    color: rgb(97, 96, 96);
    font-size: 15px;
}

#first-container a:hover {
    color: black
}

#first-container p {
    text-decoration: none;
    color: rgb(66, 124, 107);
    font-size: 15px;
}


.first-ch ul{
    list-style-type: none;
    font-weight: bold;
    padding: 0;
}

.first-ch li{
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.third-ch ul{
    list-style-type: none;
    font-weight: normal;
    padding: 0;
}

.third-ch li{
   display: inline-block;
   padding: 5px;
   margin: 5px;
}


/*******  SECTION 2  *********
******************************/

#second-container {
    background: white;
    width: 0 auto;
    height: 100%;
    padding: 0px 20px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.f-child a {
    text-decoration: none;
    color: black;
    display:inline-flex;
    margin: 10px;
}

/********************** animation underline **************/
.s-child a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .s-child a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  /*******************************************************/

.s-child li {
    list-style-type: none;
    display: inline-flex;
    padding: 0px 6px;
    margin: 2px;
    position: relative;
}

.s-child a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

input[type=text]{
    width:130px;
    height: 30px;
    border: 1px solid rgb(66, 124, 107);
    border-radius: 10px;
    margin: 15px;
    background: rgba(128, 128, 128, 0.418);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
    width: 300px;
}


/*******  SECTION 3  *********
******************************/

.third-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
    height: 40px;
}

.third-container div {
    color: white;
    font-size: 15px

}

/*******  SECTION 4  *********
******************************/



#fourth-container {
    width: 0 auto;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-image: url();
}

.ch-first p {
    font-size: 20px;
}

.ch-second {
    font-size: 59px;
    height: 90px;
    font-weight: bold;
    /* border: 1px solid black; */
    text-align:justify;
}

.ch-third ul {
    list-style-type: none;
    display: flex;
    flex-direction:row;
    padding: 0;
}

.ch-third li {
    border: 1px solid black;
    background:rgb(66, 124, 107);
    height: 55px;
    width: 200px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ch-third a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}