body {
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-dark-grey;
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
}

.heading-primary {
  color: $color-white;
  backface-visibility: hidden;

  &--main {
    font-size: 6.4rem;
    font-weight: 400;
    letter-spacing: 2rem;
    display: block;
    animation: moveInLeft 1100ms ease;
  }
  &--sub {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2rem;
    display: block;
    animation: moveInBottom 1000ms ease;
    margin-bottom: 10rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-decoration: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-secondary, $color-primary);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 300ms;

  &:hover {
    transform: translate(0rem, -1rem);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.25);
  }
}
